* {
    font-family: 'Franklin Gothic Medium';
}

body {
    background-image: url("../img/fundo2.jpg");
    /* cover e no-repeat para manter o fundo estático */
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    margin-top: 0.5%;
    margin-left: 85%;
}

form {
    font-size: 14px;
    margin-top: 5%;
    margin-left: 15%;
}

input {
    outline: 0;
    border: none;
    border-radius: 8px;
    background-color: rgba(120, 11, 116, 0.237);
}

#botaoEnviar {
    font-size: 13px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.826);
    color: azure;
    margin-left: 30%;
    margin-top: 6%;
    width: 90px;
    height: 30px;
}

#inMess {
    height: 100px;
}

#formEmail {
    margin-top: 8%;
    margin-left: 35%;
    width: 380px;
    height: 320px;
    border-radius: 25px;
    background-color: rgba(162, 22, 255, 0.221);
}

#labelEmail {
    color: aliceblue;
}

#tituloEmail {
    color: rgba(255, 0, 217, 0.918);
    text-align: center;
}

#botGit {
    border-radius: 10px;
    color: white;
    background-color: rgba(153, 15, 228, 0.215);
    border-color: rgba(153, 15, 228, 0);
}

#botLinkd {
    border-radius: 10px;
    color: white;
    background-color: rgba(153, 15, 228, 0.215);
    border-color: rgba(153, 15, 228, 0);
}

#botEmail {
    border-radius: 10px;
    color: white;
    background-color: rgba(153, 15, 228, 0.215);
    border-color: rgba(153, 15, 228, 0);
}

#texto {
    color: rgba(253, 253, 253, 0.804);
    position: absolute;
    margin-left: 1%;
}